<div>
  <nz-card>
<!--    <button nz-button [nzType]="'primary'" (click)="test()">测试按钮</button>-->
    <div>
      <input
        placeholder="请输入手机号码"
        nz-input
        [(ngModel)]="inputValue"
        (ngModelChange)="onChange($event)"
        [nzAutocomplete]="auto"
      />
      <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
    </div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
      <tr>
        <th>会员</th>
        <th>电话</th>
        <th>积分余额</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.memberName }}</td>
        <td>{{ data.memberPhone }}</td>
        <td>{{ data.sumIntegral }}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
