<div>
  <nz-card>
    <div>
      <span class="memberTitle">会员中心</span>
      <Button nz-button [nzType]="'primary'" (click)="addMember('')" class="memberBtn">
        <i nz-icon [nzType]="'user-add'" [nzTheme]="'outline'"></i>注册
      </Button>
    </div>
    <nz-divider></nz-divider>
    <div>
      <input
        placeholder="请输入手机号码"
        nz-input
        [(ngModel)]="inputValue"
        (ngModelChange)="onChange($event)"
        [nzAutocomplete]="auto"
      />
      <nz-autocomplete [nzDataSource]="filteredOptions" #auto></nz-autocomplete>
    </div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
      <tr>
        <th>会员</th>
        <th>电话</th>
        <th>积分余额</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.memberName }}</td>
        <td>{{ data.memberPhone }}</td>
        <td>{{ data.sumIntegral }}</td>
      </tr>
      </tbody>
    </nz-table>
  </nz-card>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="注册会员" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="姓名不能为空！">
          <input nz-input formControlName="name" placeholder="Please input your name" id="name" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phone">电话</nz-form-label>
        <nz-form-control
          nzHasFeedback
          [nzValidateStatus]='phoneValidate'
          nzValidatingTip="请输入电话号码"
          nzWarningTip="请输入完整电话号码"
          nzErrorTip="该电话号码已存在"
          [nzSm]="14"
          [nzXs]="24">
          <input nz-input formControlName="phone" placeholder="Please input your phone" id="phone" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>
</div>
